
a.back_to_top{
    border-radius: 5px;
    padding: 5px 13px 5px 10px;
    @include BoxSizing(border-box);
    font-size: 42px;
    text-align: center;
    color: $colorBlack;
    background: $colorBgWhite;
    position: fixed;
    right: 50%;
    opacity:1;
    z-index:1000;
    transition:all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;

  }

  a.back_to_top::before{ 
    content: "\00279C";     
    display: inline-block;
    @include Rotate();
  }

  a.back_to_top:hover{
    background: $colorBgWhiteShadow;
    transition: all ease-in 0.2s;
  }
  a.back_to_top.item_hide{
    bottom: -35px;
    opacity: 0;
    transition: all ease-in 0.5s;
  }
  
  a.back_to_top.item_show{
    bottom: 20px;
    opacity: 1;
  }
