//FOOTER
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1.875rem 2.5rem 1.875rem;
    @include BoxSizing(border-box); 
    background-color: $colorBgWhite;
    color: $colorBlack;
    font-family: 'Manrope';
    font-size: 1rem;
    font-weight: 400;

    span{
        font-family: 'Pirata One';
        font-size: 1.25rem;
        font-weight: 400;
    }
}

.social_media{
    display: flex;
    align-items: center;
    gap: 0.625rem;

    .facebook{
        height: 1.625rem;
        width: 24.6px;
        overflow: hidden;
    }

    .instagram{
        height: 25px;
        width: 27px;
        overflow: hidden;

        img{
            margin-top: 0;
            margin-left: -1.5625rem;
        }
    }
}

@media screen and (max-width: 640px){
    footer{
        flex-direction: column;
        gap: 0.625rem;
    }
  
}