//FOOTER
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px 40px 30px;
    @include BoxSizing(border-box); 
    background-color: $colorBgWhite;
    color: $colorBlack;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 400;

    span{
        font-family: 'Pirata One';
        font-size: 20px;
        font-weight: 400;
    }
}

.social_media{
    display: flex;
    align-items: center;
    gap: 10px;

    .facebook{
        height: 26px;
        width: 24.6px;
        overflow: hidden;
    }

    .instagram{
        height: 26px;
        width: 26px;
        overflow: hidden;

        img{
            margin-top: 0;
            margin-left: -25px;
        }
    }
}

@media screen and (max-width: 640px){
    footer{
        flex-direction: column;
        gap: 10px;
    }
  
}