//HEADER
header{
    padding: 5px 30px 0 30px;
    @include BoxSizing(border-box); 
    background-color: $colorBgWhite;
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    ul{
        display: flex;
        gap: 15px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

/*current page underline*/
.current_page{
    border-bottom: solid 3px $colorRed;
}


@media screen and (max-width: 640px){
    header{
        padding: 5px 30px 15px 30px;
    }

    nav{
        flex-direction: column;
        gap: 15px;
    }
  
}