//HEADER
header{
    padding: 0.3125rem 1.875rem 0 1.875rem;
    @include BoxSizing(border-box); 
    background-color: $colorBgWhite;
    font-family: 'Manrope';
    font-size: 1.25rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    ul{
        display: flex;
        gap: 0.9375rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

/*current page underline*/
.current_page{
    border-bottom: solid 3px $colorRed;
}


@media screen and (max-width: 640px){
    header{
        padding: 0.3125rem 1.875rem 0.9375rem 1.875rem;
        flex-direction: column;
        gap: 0.9375rem;
    }
  
}