

//PRESENTATION
$margin_line_txt : 25px;

#presentation_container{
    min-width: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: $colorBgWhite;
}

#presentation_component{
    color: $colorBlack;
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#presentation_photos{
    width: 50%;
    display: flex;
    justify-content: right;

    #photo_index1{
        z-index: 2;
    }

    #photo_index2{
        z-index: 1;
        margin-top: 250px;
        margin-left: -50px;
    }
}

#presentation_text{
    width: 50%;
    min-width: 580px;
    text-align: center;

    p{
        margin-top: $margin_line_txt;
    }

    p:first-child{
        margin-top: 0;
    }

    p:nth-child(2) span:nth-child(2){
        margin-top: $margin_line_txt;
    }
}

.display_block{
    display: block;
}

p[class='special_font'],
a[class='special_font']{
    margin-bottom: 60px;
}

//PROJECT
$gap_img_project : 60px;

#project_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project_img{
    display: flex;
    gap: $gap_img_project;

    div{
        display: flex;
        gap: $gap_img_project;
    }

    img{
        border-radius: 12px;
    }
}

#btn_galerie { 
    margin-top: 60px;
    text-align: center;
    width: 215px;
    padding: 15px 35px;
    @include BoxSizing(border-box);
    border-radius: 20px;
    background-color: $colorBlue;
    box-shadow: 0px 0px 10px 0px $colorShadow;
    cursor: pointer;
    a{
        color: $colorWhite;
    }
}

#btn_galerie:hover{ 
    background-color: $colorPurple;
}


//CONTACT
#contact_container{
    width: 100%;
}

#contact_informations{
    background-color: $colorBgWhiteShadow;
    color: $colorBlack;
    width: 450px;
    padding: 30px;
    @include BoxSizing(border-box);
    text-align: center;
    position: absolute;
    margin-top: 150px;
    margin-left: 150px;

    >div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    #messenger{
        width: 25px;
        height: 25px;
        overflow: hidden;

        img{
            margin-top: 0;
            margin-left: -52px;
        }
    }
}

#interative_map{
    iframe{
        width: 100%;
    }
    
}

//TESTIMONIAL
#testimonial_container{
    display: flex;
    flex-direction: column;

    >div{
        display: flex;
        gap: 100px;
    }
}

.testimonial{
    width: 300px;
    height: 200px;
    padding: 30px;
    @include BoxSizing(border-box);
    background-color: $colorBgWhite;
    color: $colorBlack;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0 $colorShadow ;

    p:nth-child(1){
        font-weight: 700;
    }

    p:nth-child(2){
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

//RESPONSIVE
@media screen and (max-width: 1300px){
    #presentation_component{
        gap: 60px;
    }

    $gap_img_project : 40px;
    #project_img{
        gap: $gap_img_project;
        
        div{
            gap: $gap_img_project;
        }
    }
}

@media screen and (max-width: 1200px){
    #presentation_photos{
        justify-content: center;
    }

    #photo_index2{
        display: none;
    }

    $gap_img_project : 25px;
    #project_img{
        gap: $gap_img_project;
        
        div{
            gap: $gap_img_project;
        }
    }

    #contact_informations{
        width: 315px;
        font-size: 14px;
        padding: 15px;
        margin-top: 170px;
        margin-left: 100px;
    }

    #testimonial_container{
        >div{
            gap: 30px;
        }
    }
}

@media screen and (max-width: 980px){
    #presentation_component{
        gap: 20px
    }

    #presentation_photos{
        width: auto;
    }

    $margin_line_txt : 15px;
    #presentation_text{
        min-width: 340px;
        p{
            margin-top: $margin_line_txt;
        }
    
        p:nth-child(2) span:nth-child(2){
            margin-top: $margin_line_txt;
        }
    }
    
    $gap_img_project : 40px;
    #project_img{
        flex-direction: column;
        gap: $gap_img_project;
        
        div{
            gap: $gap_img_project;
        }
    }

    #contact_informations{
        margin-top: 260px;
        margin-left: 10px;
    }

    #testimonial_container{
        >div{
            flex-direction: column;
        }
    }
}


@media screen and (max-width: 640px){
    #presentation_component{
        gap: 50px;
        flex-direction: column;
    }
}

@media screen and (max-width: 375px){

    #presentation_text{
        min-width: 280px;
    }

    $gap_img_project : 25px;
    #project_img{
        gap: $gap_img_project;
        
        div{
            gap: $gap_img_project;
        }
    }
}


@media screen and (max-width: 320px){
    #project_container >p{
        width: 60%
    }

    $gap_img_project : 8px;
    #project_img{
        gap: $gap_img_project;
        
        div{
            align-items: center;
            gap: $gap_img_project;
        }

    }

    #contact_informations{
        width: 300px;
        padding: 5px;
    }
}