dl{
    width: 70%;
    margin: 0;

    p{
        margin-bottom: 0.3125rem;
    }
}

dt{
    width: auto;
    margin-bottom: 1.25rem;
    cursor: pointer;
}

dt:hover{
    color: $colorPurple;
}

dt.active{
    color: $colorBlue;
}

dt.active + dd{
    height: auto;
    padding-bottom: 0.9375rem;
    border-bottom: 0.0625rem solid $colorBlue;
}

dd{
    margin-left: 0;
    margin-bottom: 1.875rem;    
    height: 0;   
    overflow: hidden;
}

.subtitle{
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}

.link_page{
    color: $colorWhite;
    font-style: italic;
}

@media screen and (max-width: 750px) {
    dt[class='special_font']{
        font-size: 1.25rem;
    }

    .subtitle{
        font-size: 1rem;
    }

    dl dd{
        font-size: 0.875rem;
    }
}