@import "./sass-libs/fonts.scss";
@import "./sass-libs/mixin_variables.scss";
@import "./sass-libs/transition.scss";
@import "./sass-libs/header.scss";
@import "./sass-libs/footer.scss";

:root{
    font-size: 100%;
}

body{
    margin: 0;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    color: $colorBlack;
}

img{
    display: block;
}


