@import "./sass-libs/fonts.scss";
@import "./sass-libs/mixin_variables.scss";
@import "./sass-libs/transition.scss";
@import "./sass-libs/header.scss";
@import "./sass-libs/footer.scss";
@import "./sass-libs/index.scss";

:root{
    font-size: 100%;
}

body{
    margin: 0;
    font : 16px 'Manrope', Arial, sans-serif;
    font-weight: 400;
    background-color: $colorBgBlack;
    color: $colorWhite;
}

h1{
    font-family: 'Pirata One';
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    color: $colorBlack;
}

a:hover{
    color:$colorPurple;

    img{
        filter: $colorFilterPurple;
    }
}

img{
    display: block;
}


